# Nuxt 4 & Nitro build outputs
.nuxt/
.output/
.nitro/
dist/
.cache/

# Dependencies
node_modules/

# Environment variables & secrets (¡Crucial para no subir claves privadas!)
.env
.env.*
!.env.example

# Supabase CLI / Local development
.supabase/
supabase/.temp/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & IDE settings
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System & OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db